.loading-wrapper {
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.loaded-wrapper {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out;
}