

.custom-datepicker {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    width: 200px;
    transition: border-color 0.3s ease;

}

.custom-datepicker:focus {
    border-color: #3182ce;
    outline: none;
    box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.2);
}

/* 달력 전체 스타일 */
.custom-calendar {
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

/* 오늘 날짜 하이라이트 */
.react-datepicker__day--today {
    font-weight: bold;
    color: #3182ce;
}

/* 선택된 날짜 스타일 */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: #3182ce !important;
    color: white;
    border-radius: 50%;
}

/* hover 스타일 */
.react-datepicker__day:hover {
    background-color: #bee3f8;
    border-radius: 50%;
}

.second-layer-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4열, 각 열이 동일한 너비(25%) */
    gap: 16px; /* 열 간 간격 */
    margin-bottom: 20px; /* 차트와의 간격 */
}