@font-face {
    font-family: 'Yangjinche';
    font-weight: normal;
    src: url("./fonts/yangjinche.otf") format("opentype");
}

@font-face {
    font-family: 'nanumche';
    font-weight: normal;
    src: url("./fonts/NanumSquareR.otf") format("opentype");
}

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 1rem;
    max-width: 1200px; /* 추가 */
    margin: 0 auto;   /* 추가 */
    width: 100%;      /* 추가 */
    box-sizing: border-box; /* 추가 */
}

body {
    margin: 0;
    padding: 0;
}